<div class="card my-4">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
        <form asp-controller="Blog" asp-action="List" method="get">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Anahtar Kelime..." name="s">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">Ara</button>
                </span>
            </div>
        </form>
    </div>
</div>