@model SignInModel
@{
    ViewData["Title"] = "Giriş Yap";
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap</title>
    <link href="~/lib/twitter-bootstrap/css/cosmo.min.css" rel="stylesheet" />
</head>
<body>
    <form asp-action="SignIn" method="post" class="w-50 mt-5 p-3 mx-auto shadow">

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Giriş Yap" class="btn btn-info btn-block" />
        </div>
    </form>
</body>
</html>


